/* app css stylesheet */
* {
	margin: 0;
	padding: 0;
	font-family: trebuchet, arial;
}

@font-face {
    font-family: trebuchet;
    src: url("../fonts/Trebuchet MS.ttf");
}

header {
	background: #800000;
	color: #eee;
	text-align: center;
	padding: 10px;
	letter-spacing: 0.3em;
	text-shadow: 2px 2px #333;
	box-shadow: 0px 3px 4px #333;
}

#table {
	padding: 30px 0 30px 0;
	width: 35%;
	float: right;
	margin-right: 30px;
}

#table table {
	width: 100%;
	text-align: center;
}

#table th {
	background: #eee;
}

#table tr td, th {
	border: 1px dotted #333;
	padding: 5px;
}

#table tr td {
	width: 25px;
}

#table tr td:first-child {
	width: 15px;
}

.clear {
	clear: both;
}

#machine {
	padding: 30px 0 30px 30px;
	float: left;
	width: 60%;
}

#line {
	padding: 45px 30px 45px 30px;
}

hr {
	border: 1px dotted #333;
	margin: 10px 0 10px 0;
	width: 78%;
}

#input {
	padding: 7px;
	border: 2px solid #800000;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	width: 20%;
}

button {
	padding: 5px;
	width: 50px;
	border: 2px solid #333;
	border-radius: 3px;
	background: #fff;
	color: #333;
	cursor: pointer;
	vertical-align: bottom;
}

button img {
	width: 17px;
}

button:hover {
	background: #B22222;
	border-color: #800000;
	transition-duration: 0.6s;
}

input[type=range] {
	vertical-align: middle;
}

.run {
	background: #B22222;
	color: #eee;
	border-color: #800000;
	border-radius: 0px 3px 3px 0px;
	width: 100px;
	margin-left: -7px;
	padding: 7px;
	text-shadow: 1px 1px #333;
}