* {
	margin: 0;
	padding: 0;
	font-family: trebuchet, arial;
}

@font-face {
    font-family: trebuchet;
    src: url("../fonts/Trebuchet MS.ttf");
}

header {
	background: #333;
	color: #eee;
	text-align: center;
	padding: 10px;
	letter-spacing: 0.3em;
}

footer {
	background: #eee;
	color: #333;
	padding: 5px;
	text-align: center;
}